<nav id="nav">
  <ul>
    <li><a href="{{ '/' | relative_url }}">Strona główna</a></li>
    <li>
      <a href="#">Poznaj nas</a>
      <ul>
        <li><a href="{{ '/#intro' | relative_url }}">Wizja</a></li>
        <li><a href="{{ '/#highlights' | relative_url }}">Czym się zajmujemy?</a></li>
        <li><a href="{{ '/#main' | relative_url }}">Nasze fundamenty</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ '/realizacje/' | relative_url }}">Nasze realizacje</a>
    </li>
    <li>
      <a href="{{ '/termomodernizacja/' | relative_url }}">Termomodernizacja</a>
      <ul>
        <li><a href="{{ '/termomodernizacja/#main' | relative_url }}">Czym jest termomodernizacja?</a></li>
      </ul>
    </li>
    <li><a href="{{ '/#footer' | relative_url }}">Kontakt</a></li>
  </ul>
</nav>
