<nav id="nav">
  <ul>
    <li><a href="{{ '/' | relative_url }}">Strona główna</a></li>
    <li>
      <a href="#">Poznaj nas</a>
      <ul>
        <li><a href="{{ '/' | relative_url }}#intro">Wizja</a></li>
        <li><a href="{{ '/' | relative_url }}#highlights">Czym się zajmujemy?</a></li>
        <li><a href="{{ '/' | relative_url }}#main">Nasze fundamenty</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ '/realizacje/' | relative_url }}">Nasze realizacje</a>
    </li>
    <li>
      <a href="{{ '/termomodernizacja/' | relative_url }}">Termomodernizacja</a>
      <ul>
        <li><a href="{{ '/termomodernizacja/' | relative_url }}#main">Czym jest termomodernizacja?</a></li>
      </ul>
    </li>
    <li><a href="{{ '/' | relative_url }}#footer">Kontakt</a></li>
  </ul>
</nav>
